<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDTzCaj0mnJFlwFfP9DKPyDz3tpEujFCFI</string>
	<key>GCM_SENDER_ID</key>
	<string>691871932338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.healthdetails.patient</string>
	<key>PROJECT_ID</key>
	<string>dqcare-2b053</string>
	<key>STORAGE_BUCKET</key>
	<string>dqcare-2b053.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:691871932338:ios:987f8b5b460737731d0eab</string>
</dict>
</plist>